@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ocean-blue: #17222D;
  --concrete-turqouise: #13404D;
  --baby-blue: #1DCDFE;
  --off-white: #D9D9D9;
  --lite-grey: #ADADAD;
  --shark-grey: #C5C5C5;
  --slate-grey: #7D7D7D;
  --slight-slate-grey: #C3C3C3;
  --dark-grey: #515151;
  --ignite-black: #3E3E3E;
  --coal-black: #2F2E41;
  --lava-black: 444444;
  --lava-red: #B41818;
  --cotton-candy: #34F5C5;
}

.jost-font {
  font-family: var(--font-jost);
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

section {
  margin: 192px 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .rtl {
    direction: rtl;
    text-align: right;
  }

  .ltr {
    direction: ltr;
    text-align: left;
  }

  /* Use logical properties for RTL support */
  .rtl .start {
    margin-inline-start: auto;
  }

  .rtl .end {
    margin-inline-end: auto;
  }

  /* RTL specific margins and paddings */
  .rtl .ml-auto {
    margin-left: unset;
    margin-right: auto;
  }

  .rtl .mr-auto {
    margin-right: unset;
    margin-left: auto;
  }
}

nav {
  width: 100%;
}

button {
  transition: all 300ms ease;
}

.container {
  width: 100% !important;
  margin: 0 auto;
  padding: 16px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

@media(max-width: 468px) {
  .row {
    padding: 0 24px;
  }
}

.entity__row {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.custom {
  width: 100% !important;
}


/* 

LANDING PAGE

*/
.body {
  background: linear-gradient(
    to bottom,
    #17222D 0%,
    #13404D 9%,
    #2F2E41 14%,
    #E6E6E6 32%,
    #FFFFFF 34%,
    #FFFFFF 100%
  );
  /* background-color: black; */
}

.body-secondary {
  background: linear-gradient(
    to bottom,
    #17222D 0%,
    #13404D 4%,
    #2F2E41 8%,
    #E6E6E6 9%,
    #FFFFFF 12%,
    #FFFFFF 100%
  );
  /* background-color: black; */
}

.body-tertiary {
  background: linear-gradient(
    to bottom,
    #17222D 0%,
    #1DCDFE 9%,
    #2F2E41 14%,
    #E6E6E6 32%,
    #FFFFFF 34%,
    #FFFFFF 100%
  );
  /* background-color: black; */
}

.double__color--btn {
  background: linear-gradient(
    to right,
    #34F5C5 0%,
    #1DCDFE 100%
  );
}

.double__color--text {
  background: linear-gradient(
    to right,
    #34F5C5 0%,
    #1DCDFE 100%
  );
  -webkit-background-clip: text; /* Ensures text color is clipped to the gradient */
  -webkit-text-fill-color: transparent; /* Hides the original text color */
}

@media(max-width: 640px) {
  .download__btn {
    background: linear-gradient(
      to right,
      #34F5C5 0%,
      #1DCDFE 100%
    );
  }
}


/* 

PERKS

*/

@media(max-width: 1280px) {
  .phone__mockup {
    width: 45%;
  }
}


/* 

LOGIN MESH

*/
.bg-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../public/login-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* 

SIDEBAR

*/
.text__branding {
  display: none;
}

.sidebar:hover .text__branding {
  display: inline;
}


/* 

COUNTER

*/
/*

BROWSER SCROLLBAR KITS

*/

/* CHROME & SAFARI */
.counter__scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.counter__scrollbar::-webkit-scrollbar-track {
background-color: transparent;
}

.counter__scrollbar::-webkit-scrollbar-thumb {
background: #1DCDFE;
border-radius: 8px;
}

.counter__scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.counter__scrollbar::-webkit-scrollbar-thumb:active {
  background: #1DCDFE;
  border-radius: 10px;
}

/* MOZILLA FIREFOX */
.counter__scrollbar::-moz-scrollbar {
  width: 8px; 
}

.counter__scrollbar::-moz-scrollbar-track {
background-color: transparent;
}

.counter__scrollbar::-moz-scrollbar-thumb {
background: #1DCDFE;
border-radius: 8px;
}

.counter__scrollbar::-moz-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.counter__scrollbar::-moz-scrollbar-thumb:active {
  background: #1DCDFE;
  border-radius: 10px;
}


/* MICROSOFT INTERNET EXPLORER */
.counter__scrollbar::-ms-scrollbar {
  width: 8px; 
}

.counter__scrollbar::-ms-scrollbar-track {
background-color: transparent;
}

.counter__scrollbar::-ms-scrollbar-thumb {
background: #1DCDFE;
border-radius: 8px;
}

.counter__scrollbar::-ms-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.counter__scrollbar::-ms-scrollbar-thumb:active {
  background: #1DCDFE;
  border-radius: 10px;
}

/* OPERA */
.counter__scrollbar::-o-scrollbar {
  width: 8px; 
}

.counter__scrollbar::-o-scrollbar-track {
background-color: transparent;
}

.counter__scrollbar::-o-scrollbar-thumb {
background: #1DCDFE;
border-radius: 8px;
}

.counter__scrollbar::-o-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.counter__scrollbar::-o-scrollbar-thumb:active {
  background: #1DCDFE;
  border-radius: 10px;
}

.construction-bg {
  background: repeating-linear-gradient(
    45deg, 
    rgba(255, 179, 0, 0.75),
    rgba(255, 179, 0, 0.75) 10px, 
    black 10px, 
    black 20px
  );
  border-radius: 16px;
  animation: loadingAnimation 8s linear infinite alternate-reverse; /* Adjust animation duration as needed */
}

@keyframes loadingAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 0; /* Adjust the distance the stripes move */
  }
}

.PhoneInput--focus {
  border-color: #1DCDFE;
  outline: none;
}


/* 

RESPONSIVENESS

*/
@media(max-width: 576px) {
  .login__form {
    display: flex;
    flex-direction: column;
  }

  .login__form--title {
    font-size: 48px;
    margin-bottom: 40px;
  }
}

@media(max-height: 426px) {
  .login__form--title {
    margin-bottom: 16px;
  }
}


/*  

DISPLAY

*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 150, 255, 0.5); /* Change color to fit your theme */
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 150, 255, 0); /* Change color to fit your theme */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 150, 255, 0); /* Change color to fit your theme */
  }
}

.pulse-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #1e90ff; 
  border: 2px solid #1e90ff; 
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.pulse-button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: rgba(0, 150, 255, 0.5); 
  animation: pulse 2s infinite;
  z-index: 0;
}

.pulse-button span {
  position: relative;
  z-index: 1;
}

.modal__positioning {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, 50%);
  margin: 0;
  transform-origin: center;
  transform-box: fill-box;
  transform-style: preserve-3d;
}