@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ocean-blue: "#17222D";
  --concrete-turqouise: "#13404D";
  --baby-blue: "#1DCDFE";
  --off-white: "#D9D9D9";
  --lite-grey: "#ADADAD";
  --shark-grey: "#C5C5C5";
  --slate-grey: "#7D7D7D";
  --slight-slate-grey: "#C3C3C3";
  --dark-grey: "#515151";
  --ignite-black: "#3E3E3E";
  --coal-black: "#2F2E41";
  --lava-black: "444444";
  --lava-red: "#B41818";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 100% !important;
  padding: 16px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.entity__row {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.custom {
  width: 100% !important;
}


/* 

LOGIN MESH

*/
.bg-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../public/login-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* 

SIDEBAR

*/
.text__branding {
  display: none;
}

.sidebar:hover .text__branding {
  display: inline;
}


/* 

COUNTER

*/
/*

BROWSER SCROLLBAR KITS

*/

/* CHROME & SAFARI */
.counter__scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.counter__scrollbar::-webkit-scrollbar-track {
background-color: transparent;
}

.counter__scrollbar::-webkit-scrollbar-thumb {
background: #1DCDFE;
border-radius: 8px;
}

.counter__scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.counter__scrollbar::-webkit-scrollbar-thumb:active {
  background: #1DCDFE;
  border-radius: 10px;
}

/* MOZILLA FIREFOX */
.counter__scrollbar::-moz-scrollbar {
  width: 8px; 
}

.counter__scrollbar::-moz-scrollbar-track {
background-color: transparent;
}

.counter__scrollbar::-moz-scrollbar-thumb {
background: #1DCDFE;
border-radius: 8px;
}

.counter__scrollbar::-moz-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.counter__scrollbar::-moz-scrollbar-thumb:active {
  background: #1DCDFE;
  border-radius: 10px;
}


/* MICROSOFT INTERNET EXPLORER */
.counter__scrollbar::-ms-scrollbar {
  width: 8px; 
}

.counter__scrollbar::-ms-scrollbar-track {
background-color: transparent;
}

.counter__scrollbar::-ms-scrollbar-thumb {
background: #1DCDFE;
border-radius: 8px;
}

.counter__scrollbar::-ms-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.counter__scrollbar::-ms-scrollbar-thumb:active {
  background: #1DCDFE;
  border-radius: 10px;
}

/* OPERA */
.counter__scrollbar::-o-scrollbar {
  width: 8px; 
}

.counter__scrollbar::-o-scrollbar-track {
background-color: transparent;
}

.counter__scrollbar::-o-scrollbar-thumb {
background: #1DCDFE;
border-radius: 8px;
}

.counter__scrollbar::-o-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.counter__scrollbar::-o-scrollbar-thumb:active {
  background: #1DCDFE;
  border-radius: 10px;
}

.construction-bg {
  background: repeating-linear-gradient(
    45deg, 
    #ffb300, 
    #ffb300 10px, 
    black 10px, 
    black 20px
  );
  border-radius: 16px;
  animation: loadingAnimation 2s linear infinite; /* Adjust animation duration as needed */
}

@keyframes loadingAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0; /* Adjust the distance the stripes move */
  }
}

.PhoneInput--focus {
  border-color: #1DCDFE;
  outline: none;
}
